* {
    font-family: 'Arial Narrow', Arial, sans-serif;
 }



nav ul li {
    display: inline-block;
    ;

}

/* barra de buscador*/
form {
    display: inline-block;

}

input {
    padding: left 1px;
    ;
}


nav {
    background: gray;
    padding: 6px 6px;
    ;
}



.logo {
    background: grey;
    width: 100%;
    padding: 5px;
}





nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
    background: black;
    padding: 5px 30px;

}

.pas {
    float:right;
    width: 600px;
    text-align: center;
    padding: 15px;
}

article {
    margin-left: 15px;
}

h1 {
    text-align: center;
}



h3 {
    text-align:center;
    font-size: 40px;
    background: gray;
    ;     }

.torta {
    text-align: center;
}

body {
    margin: 0px;
    background: pink;
}
.ole{display:inline-flex;
font-size: 20px;
padding-left: 300px;
text-align: justify;
list-style: none;;}
footer{
background: gray;}
.lista{list-style: none;}
